{% extends "base.html" %}

{% block content %}
<h1>About</h1>

<h3>{{ title }}</h3>
<p>This is a template</p>

{{ my_html|safe }}

<p>
, {{ my_number }}
{{ my_list }}
</p>

<ul>
    <li>Item 1</li>
    <li>Item 2</li>
</ul>

<ul>
{% for abc in my_list %}
    {% if abc == 312 %}
        <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
    {% elif abc == "Abc" %}
        <li>This is not the network</li>
    {% else %}
        <li>{{ forloop.counter }} - {{ abc }}</li>
    {% endif %}
    
    
{% endfor %}
</ul>


{% endblock content %}